@{
    ViewBag.Title = "Om oss";
}
<h2>@ViewBag.Title.</h2>

<section>
    <div>
        <div id="aboutusimage">
            <img src="~/Images/profilepicture.jpg" />
        </div>
        <p>
            Det finns en plats för allt... 
        </p>
    </div>
</section>
