@model SalamiTV.ViewModels.SearchProgramVM

@Html.Partial("_partialPageNavigation", Model)
@*Programmen som Nicklas refererar till Puffar får sina htmlstrings från partial*@
<section class="container-fluid">
    <div class="row">
        @foreach (var program in Model.InFocusPrograms)
        {
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
                @Html.Partial("_partialInFocusProgram", program)

            </div>
        }
    </div>
</section>
@Html.Action("PartialTvChannel", "Home", new { page = Model.Page })
