body {
    /*padding-top: 50px;*/
    padding-bottom: 2px;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    #myCarousel {
        display: none;
    }

    ul.active {
        background: #BDD4DE;
    }
}

#myCarousel {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

#channelheader {
    /*background-color: #eaf3f7;*/
    text-align: center;
}

#programlist {
    /*background-color: #eaf3f7;*/
    /*border: 0px solid #a8bac4;*/
}

#channelcolumns {
    /*background-color:red;*/
}
/*#channelname {
        font-size: 16px;
        border: 10px;
        /*border-color: #a8bac4;*/
/*}*/


/*li form {
    padding-top: 15px;
    padding-bottom: 15px;
}*/

#headerprogramlogo img {
    width: 15%;
}

#channelheader {
    background-color: #BDD4DE;
    border: 2px solid #BDD4DE;
    border-bottom-width: 1px;
}

.list-group {
    border: 2px solid #BDD4DE;
    border-top-width: 1px;
    /*background-color: #eaf3f7;*/
}

.list-group-item {
    border: solid;
    border-color: lightgray;
    border-width: 1px;
    padding: 1% 4% 1% 4%;
    margin: 0%;
    font-size: 12px;
    background-color: #eaf3f7;
    min-height: 50px;
}
.list-group .list-group-item span {
    position:relative;
}
/*Vet inte om denna behövs...*/
.hiddenitem {
    display: none;
}

#aboutusimage img {
    max-height: 100px;
    min-width: 100px;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

    .row > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }

/*.list-group-item {
        border: none;
        padding: 2%;
        text-align: left;
    }*/


.navbar navbar-light {
    padding-bottom: 1px;
    font-size: 8px;
}

#tvchannel img {
    width: 20%;
    margin: auto;
}

/*#region SiteNavigation */
.navbar-default {
    background-color: #BDD4DE;
    border-color: #e7e7e7;
    margin-bottom: 1px;
}

    .navbar-default .navbar-brand {
        color: #000;
    }

        .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
            color: #e7e7e7;
            background-color: #3F5765;
        }


    .navbar-default .navbar-nav > li > a {
        color: #000
    }

        .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
            background-color: #3F5765;
            color: #e7e7e7
        }

    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
        background-color: #3F5765;
        color: #e7e7e7
    }
/*#endregion */

/*#region Old SiteNavigation REMOVE? */

/*.navbar-default .navbar-nav > li > a {
        color: #000;
        background: #BDD4DE;
    }*/


/*.navbar {
    background: #BDD4DE;
    color: #000;
    margin-bottom: 0;
    border-radius: 0;
}*/
/*/*texten på listitem ändrats till svart*/
/*.navbar-inverse .navbar-nav > li > a {
    color: #000;
    background: #BDD4DE;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active,
.navbar-inverse .navbar-nav > .active > a:hover {
    background-color: #BDD4DE;
    color: #fff;
}*/
/*.navbar-inverse .navbar-nav > li:hover {
    color: #000;
    background-color: #3F5765;
}*/
/*li form {
    padding-top: 15px;
    padding-bottom: 0px;
}*/

/*/*Gör så att sökformuläret inte markeras när man hovrar över*/
/*#topnavsearch:hover {
    background-color: #BDD4DE;
    float: right;
}*/

/*#endregion */

#imgDiv {
    width: 100%;
    max-width: 200px;
}

ul {
    list-style: none;
}

.coworkerinfo img {
    width: 25%;
    margin: auto;
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
}

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height: 200px;
    max-height: 300px;
    max-width: 400px;
}
/* En rubrik för att fylla ut lite på sidan*/
#headaboutus {
    text-align: center;
    margin: 10%;
}

p {
    text-align: center;
}

#contactusform {
    margin: auto;
    max-width: 600px;
    max-height: 1000px;
}

.error {
    color: red;
    margin-left: auto;
    text-align: end;
}

label.error {
    display: inline;
}
