@model SalamiTV.Models.TvProgram

        <div id="infocusprogram">
            <p>  @Html.ActionLink(Model.Title, "Details", "TvProgram", new { id = Model.ID }, null)</p>
            <p> @Html.DisplayFor(modelItem => Model.Details)</p>
        </div>