@model SalamiTV.ViewModels.SearchProgramVM

@{
    ViewBag.Title = "Min sida";
}
<h3>
    Välkommen
    @ViewBag.UserName @HttpContext.Current.User.Identity.Name

</h3>
@Html.Partial("_partialPageNavigation", Model)

    @Html.Action("PartialTvChannel", "Home", new {page = Model.Page })

    @*@Html.Partial("_partialTvChannel", Model.TvChannels)*@
